.custom {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
  }

.centered-container {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }
  

.centered-recaptcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
  }


  
ion-content {
  --background: #07386c; // Color azul de fondo para el contenido
  }
  
ion-card {
    background-color: #ffffff; // Color de fondo de la tarjeta, puedes cambiarlo según tus preferencias
  }
  