<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Restablecer contraseña</ion-card-title>
    </ion-card-header>
    <div class="container">
      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="correo" label="Correo: " placeholder="example@gmail.com"></ion-input>
          <ion-button (click)="mostrarModal()" fill="clear">
            <ion-icon name="help-circle"></ion-icon>
          </ion-button>
        </ion-item>

        <re-captcha (resolved)="captchaResolved($event)" class="centered-recaptcha" [siteKey]="sitekey"></re-captcha>

        <div class="centered-container">
          <ion-button (click)="resetPassword()" color="tertiary" shape="round" [disabled]="!isCaptchaValid || correo === ''">Restablecer contraseña</ion-button>
        </div>

        <img src="assets/img/9414511b5818d8a59963335f79843b97.gif" alt="Animación GIF" class="custom">
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
