ion-content {
    --background: #07386c; // Color azul de fondo para el contenido
  }
  
ion-card {
    background-color: #ffffff; // Color de fondo de la tarjeta, puedes cambiarlo según tus preferencias
  }

ion-header{

    background-color: #ffffff; 

}
.container {
    padding: 20px; // Ajusta el espaciado interno según tus preferencias
  }
  

ion-button {
    
    display: block;
    margin: 0 auto; // Esto centrará el botón horizontalmente
  }
  