ion-content {
    --background: #07386c; // Fondo azul para el contenido
}
  
ion-card {
    background-color: #ffffff; // Fondo blanco para el card
    margin: 10px; // Márgenes del card, ajusta según tus preferencias
}
  
.center-content {
    text-align: center; // Centra el contenido dentro del card
}
  
.selfie-button {
    margin-top: 10px; // Ajusta el margen superior del botón según tus preferencias
}
  
  